fastapi==0.119.1
psycopg2-binary==2.9.11
pydantic==2.12.3
pydantic-settings==2.11.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-jose==3.5.0
passlib
alembic
PyJWT
python-multipart==0.0.20
requests==2.32.5
SQLAlchemy==2.0.44
SQLAlchemy-Utils==0.42.0
uvicorn==0.38.0
